body {
  background-color: black;
  padding: 30px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.container {
  background-color: white;
  height: fit-content;
  width: 70%;
  margin-inline: auto;
  box-shadow: 10px 10px 20px rgb(87, 87, 87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside {
  /* height: 100%; */
  width: 25vw;
  background-color: gray;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nameContainer {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  color: white;
  font-weight: 900;
  /* font-size: 25px; */
  letter-spacing: -1px;
  /* border-bottom: 1px solid white; */
}

hr {
  color: white;
  width: 90%;
}

.img-container {
  background-color: white;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
}

.img-profile {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.contactContainer {
  height: fit-content;
  width: 20vw;
  /* background-color: aliceblue; */
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.asideTitle {
  color: white;
  font-weight: 900;
  font-size: 23px;
}

span {
  color: white;
  font-size: 18px;
  font-weight: 500;
  /* margin-top: 20px; */
  margin-bottom: 10px;
}

.skills {
  text-indent: 20px;
}

.lang {
  text-indent: 20px;
}

.fa {
  margin-inline: 20px;
}
span a {
  color: white;
  text-decoration: none;
}

.profileContainer {
  height: fit-content;
  width: 20vw;
  margin-top: 20px;
  margin-bottom: 20px;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 500;
}

.profileText {
  color: white;
  font-weight: 500;
  /* font-size: 20px; */
}

.skillsContainer {
  height: fit-content;
  width: 20vw;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.languageContainer {
  height: fit-content;
  width: 20vw;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  height: 100%;
  width: 45vw;
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  /* justify-content: space-between; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.headerTitle {
  color: white;
  font-weight: 900;
}

.experiencesContainer {
  width: 95%;
  height: fit-content;
  background-color: aliceblue;
  margin-inline: auto;
  margin-bottom: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.educationsContainer {
  width: 95%;
  height: fit-content;
  background-color: aliceblue;
  margin-inline: auto;
  margin-bottom: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.contentExperiences {
  width: fit-content;
  height: fit-content;
  /* background-color: rgb(0, 136, 255); */
  margin-inline: auto;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
}

.contentEducations {
  width: fit-content;
  height: fit-content;
  /* background-color: rgb(0, 136, 255); */
  margin-inline: auto;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
}

.date {
  margin-inline: 20px;
}
.label {
  margin-inline: 20px;
}

.introContainer {
  width: 90%;
  height: fit-content;
  background-color: aliceblue;
  margin-inline: auto;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.grade {
  font-weight: 700;
  font-style: italic;
}

.menu {
  /* display: non; */
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: black;
    padding: 10px;
  }
  .container {
    background-color: white;
    height: fit-content;
    width: 95%;
    margin-inline: auto;
    box-shadow: 10px 10px 20px rgb(87, 87, 87);
    overflow-x: hidden;
  }
  .nameContainer {
    height: fit-content;
    width: 100%;
    /* background-color: rgb(0, 136, 255); */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  aside {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
  }

  hr {
    color: white;
    width: 90%;
  }

  .img-container {
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 50%;
  }

  .img-profile {
    height: 80px;
    width: 80px;
    object-fit: contain;
  }

  .contactContainer {
    height: fit-content;
    width: 100%;
    /* background-color: aliceblue; */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 20px;
  }

  .asideTitle {
    color: white;
    font-weight: 900;
    font-size: 23px;
  }

  span {
    color: white;
    font-size: 15px;
    font-weight: 500;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    width: 100%;
  }

  .skills {
    text-indent: 20px;
  }

  .lang {
    text-indent: 20px;
  }

  .fa {
    margin-inline: 20px;
  }
  span a {
    color: white;
    text-decoration: none;
  }

  .profileContainer {
    height: fit-content;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: 500;
  }

  .profileText {
    color: white;
    font-weight: 500;
    /* font-size: 20px; */
  }

  .skillsContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .languageContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  section {
    height: 100%;
    width: 100%;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    /* padding-top: 20px; */
    align-items: center;
    /* justify-content: space-between; */
  }
  .introContainer {
    width: 80%;
    height: fit-content;
    background-color: aliceblue;
    margin-inline: auto;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .date {
    margin-inline: 7px;
  }
  .label {
    margin-inline: 7px;
  }
  .menu {
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 35px;
    display: flex;
  }
}
